---
- name: restart caddy
  systemd:
    daemon_reload: true
    name: caddy
    state: restarted
  tags: caddy
  become: true

- name: reload caddy
  systemd:
    name: caddy
    state: reloaded
  tags: caddy
  become: true

- name: reload consul
  systemd:
    name: consul
    state: reloaded
  become: true
  tags:
    - caddy
    - consul
