[Unit]
Description=Caddyserver2 Webserver
Documentation=https://caddyserver.com/docs
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="XDG_CONFIG_HOME=/var/lib"
User={{ caddy_user }}
Group={{ caddy_group }}
Restart=on-failure
ExecStart={{ caddy_binary_local_dir }}caddy run -environ -config {{ caddy_config_path }}/caddy.conf -adapter caddyfile -watch
ExecReload=/bin/kill -USR1 $MAINPID
LimitNOFILE=8192
PrivateDevices=true
ProtectHome=true
ProtectSystem=full
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
{% for caddy_env_var in caddy_env_vars %}
Environment={{ caddy_env_var }}
{% endfor %}

[Install]
WantedBy=multi-user.target
