{{ ansible_managed | comment }}
{{ caddy_log_path }}/*.log {
    daily
    compress
    delaycompress
    rotate {{ caddy_logrotate_days }}
    missingok
    nocreate
    create 0640 {{ caddy_user }} {{ caddy_group }}
    datext
    dateformat _%Y%m%d
    sharedscripts
    prerotate
        test ! -x /usr/sbin/sarg-reports || /usr/sbin/sarg-reports daily
    endscript
}